*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
}
#Con{
    width: 70%;
    height: 200px;
    /*border: 0.1px solid green;*/
    margin: 0 auto;
    position: relative;
    top: 100px;
}
#Con form{
    /*border: 0.1px solid red;*/
}
.form label{
    font-size: 110%;
}

.form{
    display: inline-block;
    width: 30%;
    margin-left: 3%;
}

.form select{
    height: 25px;
    font-size: 100%;
    width: 80%;
}
